html, body{
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 2.5vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(30, 30, 30);
}

button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-style: none;
    padding: 2.5vmin;
    font-size: 2.5vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: red;
}

button:active{
    background-color: turquoise;
}

input{
    padding: 2.5vmin;
    font-size: 2.5vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgb(30, 30, 30);
}

#root{
    flex: 1;
    display: inline-grid;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
    gap: 5vmin;
}

    #topCon{
        grid-area: 1/1/2/11;
        background-color: turquoise;
    }

    #leftCon{
        grid-area: 2/1/11/3;
        display: flex;
        flex-direction: column;
        background-color: rgb(60, 60, 60);
    }

        .left{
            flex: 1;
            background-color: rgb(60, 60, 60);
        }

    #mainCon{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        overflow-y: scroll;
        grid-area: 2/3/11/11;
        gap: 5vmin;
    }

        .addTaskCon{
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

            .addTask{
                flex: 1;
            }

        .mainTaskCon{
            width: 200px;
            height: 400px;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
            background-color: goldenrod;            
        }

            .mainTask{
                width: 100%;
                display: flex;
            }